@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script>
        (function () {
            $.ajax({
                type: 'get',
                contentType: 'json',
                url: 'http://79.127.47.210:76/api/booking/list/'
            });
        }());
    </script>
    <script>
        (function () {
            $.ajax({
                type: 'get',
                contentType: 'json',
                url: 'http://localhost:14002/api/product'
            });
        }());
    </script>
</body>
</html>
